<launch>
  <!-- ============ ARGs ================= -->
  <arg name="use_sim_time" default="true"/>
  <arg name="debug" default="false" />
  <arg name="gui" default="true" />
  <arg name="paused" default="false" />
  <arg name="gs_sim" default="true" />
  <arg name="start_rviz" default="true" />
  <arg name="joystick_control_val" default="false" />
  <arg name="keyboard_control_val" default="true" />
  
  <!-- Pose of object -->
  <arg name="object_name" default="aluminum_profile"/>
  <arg name="x" default="0.5"/>
  <arg name="y" default="0.5"/>
  <arg name="z" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- ============ STL Object ============ -->
  <node pkg="kortex_gazebo" type="generate_objects_world.py" name="generate_world_node" output="screen"
        args="$(arg object_name) $(arg x) $(arg y) $(arg z) $(arg roll) $(arg pitch) $(arg yaw)"/>

  <!-- Ruta al mundo generado dinámicamente -->
  <arg name="world_file" default="/tmp/generated_world.world"/>

  <!-- ============ SENSOR ============ -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find gelsight_description)/urdf/gelsight_twist_link.xacro'" />

  <!-- Publicadores de TF -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen"/>

  <!-- ============ LAUNCH GAZEBO ============ -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- ============ SPAWN SENSOR IN GAZEBO ============ -->
  <arg name="pi" default="3.14159256535898" />
  <node name="spawn_gelsight" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-param robot_description -urdf -model gelsight_sensor -x 0.488816 -y 0.790451 -z 0.059620 -R -2.339618 -P 0.289903 -Y -1.840596" />
      <!-- args="-param robot_description -urdf -model gelsight_sensor -x 0.486394 -y 0.807081 -z 0.057752 -R -2.3 -P 0.0 -Y -1.57079632679" /> -->

  <!-- Run gelsight_simulation -->
    <include file="$(find gelsight_simulation)/launch/gs_gel_link.launch" if="$(arg gs_sim)"/>

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gelsight_gazebo)/rviz/gs_rviz_test.rviz" if="$(arg start_rviz)" />

  <!-- RUN feature extractor and twist control -->
  <node pkg="gelsight_simulation" type="feature_extractor.py"        name="image_subscriber_publisher" output="screen" />
  <node pkg="gelsight_simulation" type="twist_control_free_body.py"  name="gs_twist_controller"        output="screen" />


  <!-- Launch joystick driver -->
    <node pkg="joy" type="joy_node" name="joy_node" output="screen" if="$(arg joystick_control_val)">
          <!-- Optional parameters -->
          <!-- <param name="dev" value="/dev/input/js0"/> -->
          <!-- <param name="deadzone" value="0.05"/> -->
          <!-- <param name="autorepeat_rate" value="20"/> -->
    </node>

    <!-- Launch your script only if joystick_control is true -->
    <node pkg="gelsight_simulation" type="joystick_control.py" name="joystick_control" output="screen"
            if="$(arg joystick_control_val)" />

  <!-- Keyboard twist control -->
    <node pkg="gelsight_simulation" type="keyboard_gs_twist.py" name="keyboard_gs_twist" output="screen"
            if="$(arg keyboard_control_val)" /> 

</launch>
